<div class="j-menu-container"></div>

<div class="top-header-bg">
  <div class="container public_bg_image">
    <div class="b-inner-page-header f-inner-page-header">
      <div class="b-inner-page-header__content">
        <h1 class="f-primary-l c-default"><%= t(:please_subscribe) %></h1>
        <div class="f-primary-l f-inner-page-header_title-add c-senary"><%= t(:already_subscribed) + ' ' %><%= link_to t(:signin), new_session_path(resource) %>
        </div>
      </div>
    </div>
    <hr class="hr-line">
  </div>
</div>

<div class="container public_bg_image fix-body-padding-bottom">
  <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
      <%= devise_error_messages! %>
      <div class="signup-form">
        <% if params[:user_type] == 'regular' %>
            <div class = "form-group row col-md-12">
              <div class="col-md-3">
                <%= f.label :name, t(:name) %>
              </div>
              <div class="col-md-9">
                <%= f.text_field :name, autofocus: true,class: "form-control" %>
              </div>
            </div>

            <div class = "form-group row col-md-12">
              <div class="col-md-3">
                <%= f.label :email, t(:email)%>
              </div>
              <div class="col-md-9">
                <%= f.email_field :email, autofocus: true ,class: "form-control"%>
              </div>
            </div>

            <div class = "form-group row col-md-12">
              <div class="col-md-3">
                <%= f.label :image, t(:image) %>

              </div>
              <div class="col-md-9">
                <%= f.file_field :image %>
              </div>
            </div>

            <div class = "form-group row col-md-12">
              <div class="col-md-3">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
              </div>
              <div class="col-md-9">
                <%= f.password_field :password, autocomplete: "off",class: "form-control" %>
              </div>
            </div>

            <div class = "form-group row col-md-12">
              <div class="col-md-3">
                <%= f.label :password_confirmation %>
              </div>
              <div class="col-md-9">
                <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control" %>
              </div>
            </div>
        <%else%>
            <div class = "form-group row col-md-12">
              <div class="col-md-3">
                <%= f.label :name, t(:name) %>
              </div>
              <div class="col-md-9">
                <%= f.text_field :name, autofocus: true,class: "form-control" %>
              </div>
            </div>

            <div class = "form-group row col-md-12">
              <div class="col-md-3">
                <%= f.label :email, t(:email)%>
              </div>
              <div class="col-md-9">
                <%= f.email_field :email, autofocus: true ,class: "form-control"%>
              </div>
            </div>

            <div class = "form-group row col-md-12">
              <div class="col-md-3">
                <%= f.label :image, t(:image) %>

              </div>
              <div class="col-md-9">
                <%= f.file_field :image %>
              </div>
            </div>

            <div class = "form-group row col-md-12">
              <div class="col-md-3">
                <%= f.label :password, t(:password) %>
                <% if @minimum_password_length %>
                    <em>(<%= format_number(@minimum_password_length) %> <%= t(:password_hint) %>)</em>
                <% end %>
              </div>
              <div class="col-md-9">
                <%= f.password_field :password, autocomplete: "off",class: "form-control" %>
              </div>
            </div>

            <div class = "form-group row col-md-12">
              <div class="col-md-3">
                <%= f.label :password_confirmation, t(:password_confirmation) %>
              </div>
              <div class="col-md-9">
                <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control" %>
              </div>
            </div>

            <div class = "form-group row col-md-12">
              <div class="col-md-3">
                <%= f.label :father_name, t(:father_name)%>
              </div>
              <div class="col-md-9">
                <%= f.text_field :father_name,class: "form-control" %>
              </div>
            </div>

            <div class = "form-group row col-md-12">
              <div class="col-md-3">
                <%= f.label :mother_name, t(:mother_name) %>
              </div>
              <div class="col-md-9">
                <%= f.text_field :mother_name,class: "form-control" %>
              </div>
            </div>

            <div class = "form-group row col-md-12">
              <div class="col-md-3">
                <%= f.label :date_of_birth, t(:date_of_birth)   %>
              </div>
              <div class="col-md-9">
                <%= f.text_field :date_of_birth,class: "form-control datepicker" %>
              </div>
            </div>

            <div class = "form-group row col-md-12">
              <div class="col-md-3">
                <%= f.label :permanent_address, t(:permanent_address) %>
              </div>
              <div class="col-md-9">
                <%= f.text_field :permanent_address,class: "form-control" %>
              </div>
            </div>

            <div class = "form-group row col-md-12">
              <div class="col-md-3">
                <%= f.label :present_address, t(:present_address) %>
              </div>
              <div class="col-md-9">
                <%= f.text_field :present_address,class: "form-control" %>
              </div>
            </div>

            <div class = "form-group row col-md-12">
              <div class="col-md-3">
                <%= f.label :voter_id, t(:voter_id)  %>
              </div>
              <div class="col-md-9">
                <%= f.text_field :voter_id,class: "form-control" %>
              </div>
            </div>

            <div class = "form-group row col-md-12">
              <div class="col-md-3">
                <%= f.label :mobile, t(:phone)  %>
              </div>
              <div class="col-md-9">
                <%= f.text_field :mobile,class: "form-control" %>
              </div>
            </div>
            <div style="clear: both"></div>
            <div class = "form-group row col-md-12">
              <div class="col-md-3">
              </div>
              <div class="col-md-9">
                <div class="col-md-1">
                  <%= check_box_tag :agree %>
                </div>
                <div class="col-md-11">
                  <%= t(:terms)  %>
                </div>
              </div>
            </div>
        <%end%>
        <div style="clear: both"></div>
        <div class = "form-group row col-md-12">
          <div class="col-md-3">
            <div class = "form-group row col-md-12">
              <%= f.hidden_field :user_type,value: params[:user_type] %>
            </div>
          </div>
          <div class="col-md-9">
            <%= f.submit t(:signup), class: 'btn btn-default pull-right submit-btn', disabled: 'disabled' %>
          </div>
        </div>
        <div style="clear: both"></div>
      </div>
  <% end %>
</div>


<script>
    $(function () {
        $('.datepicker').datepicker();
        $('#agree').click(function () {
            if ($(this).is(':checked')) {
                $('.submit-btn').removeAttr('disabled');
            }
            else {
                $('.submit-btn').attr('disabled', 'disabled');
            }
        });
    });
</script>