<tr id="product-<%= line_item.id %>">
  <td class="cart-item-image">
    <%= link_to product_path(line_item.product) do
      image_tag line_item.product.product_images.first.image_url(:thumb).to_s
    end%>
  </td>
  <td class="text-center order-item-total-price">
    <%= number_to_currency(line_item.product.price) %> x <%= line_item.quantity %>
  </td>
  <td class='cart-item-price text-center cart-item-total-price'>
    <%= number_to_currency(line_item.total_price) %>
  </td>
</tr>