<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order_detail.order_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order_detail.price %>
</p>

<p>
  <strong>Total quantity:</strong>
  <%= @order_detail.total_quantity %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @order_detail.discount %>
</p>

<%= link_to 'Edit', edit_order_detail_path(@order_detail) %> |
<%= link_to 'Back', order_details_path %>
