<div class="container public_bg_image">
  <div class="col-md-6" style="margin-bottom: 15px">
    <h2><%= t(:forget_password) %></h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label t(:email) %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: t(:enter_email_address) %>
        </div>

        <div class="actions" style="margin-top: 15px">
          <%= f.submit t(:reset_password_instruction), class: "btn btn-default" %>
        </div>
    <% end %>
    <div style="margin-top: 15px">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
