<div class="col-md-3">
  <aside>
    <div class="row b-col-default-indent">
      <div class="col-md-12">
        <h4 class="f-primary-b b-h4-special f-h4-special c-primary"><%= product_type == 'service' ? t(:service_price_filter) : t(:product_price_filter) %></h4>

        <form action="<%= product_type == 'service' ? services_path : products_path %>">
          <div class="b-slider-range j-slider-range f-slider-range">
            <span class="b-slider-range_min">0</span>
            <span class="b-slider-range_max">$999</span>
            <%= hidden_field_tag 'min_price', 200 %>
            <%= hidden_field_tag 'max_price', 700 %>
          </div>
          <%= submit_tag t(:filter), class: 'b-btn f-btn b-btn-sm f-btn-sm b-btn-default f-primary-b' %>
          <!--<a href="#" class="b-btn f-btn b-btn-sm f-btn-sm b-btn-default f-primary-b">Filter</a>-->
        </form>
      </div>
      <div class="col-md-12">
        <div class="b-categories-filter">
          <h4 class="f-primary-b b-h4-special f-h4-special c-primary"><%= t(:category_filter) %></h4>
          <ul>
            <% @categories.each do |category, count| %>

                <li>
                  <a class="f-categories-filter_name" href="<%= product_type == 'service' ? services_path(category_id: category) : products_path(category_id: category) %>"><i class="fa fa-plus"></i> <%= get_category_name(category) %>
                  </a>
                  <span class="b-categories-filter_count f-categories-filter_count"><%= count %></span>
                </li>
            <% end %>
          </ul>
        </div>
      </div>

        <% if product_type == 'product' %>
          <div class="col-md-12">
            <h4 class="f-primary-b b-h4-special f-h4-special c-primary"><%= t(:color_filter) %></h4>
            <div class="b-color-picker b-color-picker--alt">
              <div class="b-color-picker__box">
                <% color_list.each do |color| %>
                    <a href="<%= products_path(color: color.delete('#')) %>" class="b-color-picker_color_4" style="background-color: <%= color %>;">
                    </a>
                <% end %>
              </div>
            </div>
            </div>
        <% end %>
      <div class="col-md-12">
        <h4 class="f-primary-b b-h4-special f-h4-special c-primary"><%= t(:tag_filter) %></h4>
            <% all_tags.each do |tagging|  %>
            <%= get_tag_path(tagging) %>
            <%#= link_to tagging.tag.name, , class: 'f-tag b-tag' %>
            <% end %>
        <div>

        </div>
      </div>
      <div class="col-md-12">
        <h4 class="f-primary-b b-h4-special f-h4-special c-primary"><%= product_type == 'service' ? t(:popular_service) : t(:popular_product) %></h4>

        <% popular_product(product_type).each do  |product| %>
            <div class="b-blog-short-post b-blog-short-post--popular b-blog-short-post--w-img b-blog-short-post--img-hover-bordered f-blog-short-post--w-img row f-blog-short-post--popular">
              <div class="b-blog-short-post__item col-md-12 col-sm-6 col-xs-12">
                <div class="b-blog-short-post__item_img">
                  <a href="#">
                    <%= image_tag(product.product_images.first.image.url(:thumb)) %>
                  </a>
                </div>
                <div class="b-remaining">
                  <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                    <a href="<%=  product_path(product.slug) %>"><%= product.name %></a>
                  </div>
                  <div class="f-news-item__price f-primary-b b-left">
                    $<%= product.price %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </aside>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        min = <%= params[:min_price].present? ? params[:min_price] : '200'  %>
                max = <%= params[:min_price].present? ? params[:max_price] : '700'  %>
                        $('.b-slider-range').slider({
                            values: [min, max],
                            change: function (event, ui) {
                                $('#min_price').val(ui.values[0]);
                                $('#max_price').val(ui.values[1]);
                            }
                        });
        $('.b-slider-range').find('.max').text("$" + max);
        $('.b-slider-range').find('.min').text("$" + min);

    });
</script>