<div class="col-md-3">
  <aside>
    <div class="row b-col-default-indent">
      <div class="col-md-12">
        <h4 class="f-primary-b b-h4-special f-h4-special c-primary">product price filter</h4>
        <form action="<%= products_path %>">
          <div class="b-slider-range j-slider-range f-slider-range">
            <span class="b-slider-range_min">0</span>
            <span class="b-slider-range_max">$999</span>
            <%= hidden_field_tag 'min_price', 200  %>
            <%= hidden_field_tag 'max_price', 700 %>
          </div>
          <%= submit_tag 'Filter', class: 'b-btn f-btn b-btn-sm f-btn-sm b-btn-default f-primary-b' %>
          <!--<a href="#" class="b-btn f-btn b-btn-sm f-btn-sm b-btn-default f-primary-b">Filter</a>-->
        </form>
      </div>
      <div class="col-md-12">
        <div class="b-categories-filter">
          <h4 class="f-primary-b b-h4-special f-h4-special c-primary">Categories filter</h4>
          <ul>
            <% @categories.each do |category| %>
                <li>
                  <a class="f-categories-filter_name" href="<%= products_path(category_id: category.id) %>"><i class="fa fa-plus"></i> <%= category.name %></a>
                  <span class="b-categories-filter_count f-categories-filter_count"><%= category.products.count %></span>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-md-12">
        <h4 class="f-primary-b b-h4-special f-h4-special c-primary">colors filter</h4>
        <div class="b-color-picker b-color-picker--alt">
          <div class="b-color-picker__box">
            <% color_list.each do |color|%>
                <a href="<%= products_path(color: color.delete('#')) %>" class="b-color-picker_color_4" style="background-color: <%= color %>;">
                </a>
            <% end %>
            <!--<div class="b-color-picker_color_4"></div>-->
            <!--<div class="b-color-picker_color_5 is-active"></div>-->
            <!--<div class="b-color-picker_color_6"></div>-->
            <!--<div class="b-color-picker_color_7"></div>-->
            <!--<div class="b-color-picker_color_8"></div>-->
            <!--<div class="b-color-picker_color_9"></div>-->
            <!--<div class="b-color-picker_color_10"></div>-->
            <!--<div class="b-color-picker_color_11"></div>-->
            <!--<div class="b-color-picker_color_12"></div>-->
            <!--<div class="b-color-picker_color_13"></div>-->
            <!--<div class="b-color-picker_color_14"></div>-->
            <!--<div class="b-color-picker_color_15"></div>-->
            <!--<div class="b-color-picker_color_16"></div>-->
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <h4 class="f-primary-b b-h4-special f-h4-special c-primary">popular product</h4>
        <div class="b-blog-short-post b-blog-short-post--popular b-blog-short-post--w-img b-blog-short-post--img-hover-bordered f-blog-short-post--w-img row f-blog-short-post--popular">
          <div class="b-blog-short-post__item col-md-12 col-sm-6 col-xs-12">
            <div class="b-blog-short-post__item_img">
              <a href="#"><img data-retina src="img/shop/popular_1.png" alt=""/></a>
            </div>
            <div class="b-remaining">
              <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                <a href="#">Bodycon Dress in Animal </a>
              </div>
              <div class="f-blog-short-post__item_price  f-primary-b">
                $299.00
              </div>
            </div>
          </div>
        </div>
        <div class="b-blog-short-post b-blog-short-post--popular b-blog-short-post--w-img b-blog-short-post--img-hover-bordered f-blog-short-post--w-img row f-blog-short-post--popular">
          <div class="b-blog-short-post__item col-md-12 col-sm-6 col-xs-12">
            <div class="b-blog-short-post__item_img">
              <a href="#"><img data-retina src="img/shop/popular_1.png" alt=""/></a>
            </div>
            <div class="b-remaining">
              <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                <a href="#">Bodycon Dress in Animal </a>
              </div>
              <div class="f-blog-short-post__item_price  f-primary-b">
                $299.00
              </div>
            </div>
          </div>
        </div>
        <div class="b-blog-short-post b-blog-short-post--popular b-blog-short-post--w-img b-blog-short-post--img-hover-bordered f-blog-short-post--w-img row f-blog-short-post--popular">
          <div class="b-blog-short-post__item col-md-12 col-sm-6 col-xs-12">
            <div class="b-blog-short-post__item_img">
              <a href="#"><img data-retina src="img/shop/popular_1.png" alt=""/></a>
            </div>
            <div class="b-remaining">
              <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                <a href="#">Bodycon Dress in Animal </a>
              </div>
              <div class="f-blog-short-post__item_price  f-primary-b">
                $299.00
              </div>
            </div>
          </div>
        </div>
        <div class="b-blog-short-post b-blog-short-post--popular b-blog-short-post--w-img b-blog-short-post--img-hover-bordered f-blog-short-post--w-img row f-blog-short-post--popular">
          <div class="b-blog-short-post__item col-md-12 col-sm-6 col-xs-12">
            <div class="b-blog-short-post__item_img">
              <a href="#"><img data-retina src="img/shop/popular_1.png" alt=""/></a>
            </div>
            <div class="b-remaining">
              <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                <a href="#">Bodycon Dress in Animal </a>
              </div>
              <div class="f-blog-short-post__item_price  f-primary-b">
                $299.00
              </div>
            </div>
          </div>
        </div>
        <div class="b-blog-short-post b-blog-short-post--popular b-blog-short-post--w-img b-blog-short-post--img-hover-bordered f-blog-short-post--w-img row f-blog-short-post--popular">
          <div class="b-blog-short-post__item col-md-12 col-sm-6 col-xs-12">
            <div class="b-blog-short-post__item_img">
              <a href="#"><img data-retina src="img/shop/popular_1.png" alt=""/></a>
            </div>
            <div class="b-remaining">
              <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                <a href="#">Bodycon Dress in Animal </a>
              </div>
              <div class="f-blog-short-post__item_price  f-primary-b">
                $299.00
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <h4 class="f-primary-b b-h4-special f-h4-special c-primary">colors filter</h4>
        <div>
          <a class="f-tag b-tag" href="#">Dress</a>
          <a class="f-tag b-tag" href="#">Mini</a>
          <a class="f-tag b-tag" href="#">Skate animal</a>
          <a class="f-tag b-tag" href="#">Lorem ipsum</a>
          <a class="f-tag b-tag" href="#">literature</a>
          <a class="f-tag b-tag" href="#">Baroque</a>
          <a class="f-tag b-tag" href="#">Dress</a>
          <a class="f-tag b-tag" href="#">Mini</a>
          <a class="f-tag b-tag" href="#">Skate animal</a>
          <a class="f-tag b-tag" href="#">Lorem ipsum</a>
          <a class="f-tag b-tag" href="#">literature</a>
          <a class="f-tag b-tag" href="#">Baroque</a>
        </div>
      </div>
    </div>
  </aside>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        min = <%= params[:min_price].present? ? params[:min_price] : '200'  %>
        max = <%= params[:min_price].present? ? params[:max_price] : '700'  %>
        $('.b-slider-range').slider({
            values: [ min, max ],
            change: function(event, ui) {
                $('#min_price').val(ui.values[0]);
                $('#max_price').val(ui.values[1]);
            }
        });
        $('.b-slider-range').find('.max').text("$" + max);
        $('.b-slider-range').find('.min').text("$" + min);

    });
</script>