<footer>
  <div class="b-footer-primary">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-xs-12 f-copyright b-copyright">Copyright © 2016 - All Rights
          Reserved
        </div>
        <div class="col-sm-8 col-xs-12">
          <div class="b-btn f-btn b-btn-default b-right b-footer__btn_up f-footer__btn_up j-footer__btn_up">
            <i class="fa fa-chevron-up"></i>
          </div>
          <nav class="b-bottom-nav f-bottom-nav b-right hidden-xs">
            <ul>
              <li>
                <%= link_to t(:home), root_path %>
              </li>
              <li>
                <%= link_to t(:products), products_path %>
              </li>
              <li>
                <%= link_to t(:services), services_path %>
              <li>
                <%= link_to t(:about_us), about_path %>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="b-footer-secondary row">
      <div class="col-md-3 col-sm-12 col-xs-12 f-center b-footer-logo-containter">
        <a href="#"><%= image_tag('logo.png', class: 'b-footer-logo color-theme') %></a>
        <!--<a href="#"><img data-retina class="b-footer-logo color-theme" src="logo-vertical-default.jpg" alt="Logo"/></a>-->
        <div class="b-footer-logo-text f-footer-logo-text">
          <p>Mauris rhoncus pretium porttitor. Cras scelerisque commodo odio.</p>

          <div class="b-btn-group-hor f-btn-group-hor">
            <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
              <i class="fa fa-dribbble"></i>
            </a>
            <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
              <i class="fa fa-behance"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <h4 class="f-primary-b f-legacy-h4">Latest blog posts</h4>

        <div class="b-blog-short-post row">
          <div class="b-blog-short-post__item col-md-12 col-sm-4 col-xs-12 f-primary-b">
            <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
              <a href="blog_detail_left_slidebar.html">Amazing post with all the goodies</a>
            </div>
            <div class="b-blog-short-post__item_date f-blog-short-post__item_date">
              March 23, 2013
            </div>
          </div>
          <div class="b-blog-short-post__item col-md-12 col-sm-4 col-xs-12 f-primary-b">
            <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
              <a href="blog_detail_left_slidebar.html">Amazing post with all the goodies</a>
            </div>
            <div class="b-blog-short-post__item_date f-blog-short-post__item_date">
              March 23, 2013
            </div>
          </div>
          <div class="b-blog-short-post__item col-md-12 col-sm-4 col-xs-12 f-primary-b">
            <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
              <a href="blog_detail_left_slidebar.html">Amazing post with all the goodies</a>
            </div>
            <div class="b-blog-short-post__item_date f-blog-short-post__item_date">
              March 23, 2013
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <h4 class="f-primary-b f-legacy-h4"><%= t(:contact_info) %></h4>

        <div class="b-contacts-short-item-group">
          <div class="b-contacts-short-item col-md-12 col-sm-4 col-xs-12">
            <div class="b-contacts-short-item__icon f-contacts-short-item__icon f-contacts-short-item__icon_lg b-left">
              <i class="fa fa-map-marker"></i>
            </div>
            <div class="b-remaining f-contacts-short-item__text">
             <%= t(:address) %>
            </div>
          </div>
          <div class="b-contacts-short-item col-md-12 col-sm-4 col-xs-12">
            <div class="b-contacts-short-item__icon f-contacts-short-item__icon f-contacts-short-item__icon_lg b-left">
              <i class="fa fa-mobile"></i>
            </div>
            <div class="b-remaining f-contacts-short-item__text">
              <%= format_number("880 1711 538899") %> <br/>
              880 0197 - ROMOTIQ
            </div>
          </div>
          <div class="b-contacts-short-item col-md-12 col-sm-4 col-xs-12">
            <div class="b-contacts-short-item__icon f-contacts-short-item__icon b-left f-contacts-short-item__icon_xs">
              <i class="fa fa-envelope"></i>
            </div>
            <div class="b-remaining f-contacts-short-item__text f-contacts-short-item__text_email">
              <a href="mailto:info@romotiq.com">info@romotiq.com</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 ">
        <h4 class="f-primary-b f-legacy-h4"><%= t(:photo_stream) %></h4>

        <div class="b-short-photo-items-group">
          <div class="b-short-photo-items-group">
            <% product_images.each do |image| %>
                <div class="gallery-item">
                  <%= link_to image.image.url(:big), rel: 'prettyPhoto[pp_gal]' do %>
                      <%= image_tag(image.image.url(:thumb)) %>
                  <% end %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript">
    $(function () {
        $("a[rel^='prettyPhoto']").prettyPhoto({autoplay_slideshow: false, social_tools: '', show_title: ''});
    });
</script>