<div id="gh-gb" class="menu-1 clearfix" style="background: #F8F8F8;">
  <div class="container">
    <div class="top-nav">
      <ul>
        <% if current_user.present? %>
            <li>
              <%= link_to(t(:logout), destroy_user_session_path, :method => :delete) %>
            </li>
        <% else %>
            <li>
              <%= link_to t(:signin), new_user_session_path %>
            </li>

            <li>
              <%= link_to t(:req_subscription), new_user_registration_path(user_type: 'subscriber') %>
            </li>
        <% end %>
        <li class="left-border">
          <a href="<%= current_user.present? ? account_path : new_user_session_path %>"> <%= t(:text_sale) %> </a>
        </li>
        <li class="left-border"><a href="<%= contact_path %>"> <%= t(:help_and_contact) %></a></li>
        <li class="left-border"><a href="<%= about_path %>"> <%= t(:about_us) %></a></li>
        <li class="change-language left-border">
          <%= form_tag(set_language_products_path, {:method => :get}) do %>
              <%= select_tag :locale, options_for_select([[t(:english), 'en'], [t(:bangla), 'bn']], I18n.locale), :onchange => "this.form.submit();" %>
          <% end %>
        </li>
      </ul>
      <ul class="pull-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle top-dropdown" data-toggle="dropdown"><%= t(:my_sales) %>
            <span class="caret"></span></a>
          <% if current_user.present? %>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to account_path do %>
                      <i class="fa fa-money"></i><%= t(:my_account) %>
                  <% end %>
                </li>
                <li>
                  <%= link_to settings_path do %>
                      <i class="fa fa-cog"></i> <%= t(:settings) %>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, :method => :delete do %>
                      <i class="fa fa-power-off"></i> <%= t(:logout) %>
                  <% end %>
                </li>
              </ul>
          <% else %>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to new_user_session_path do %>
                      <i class="fa fa-sign-in"></i> <%= t(:signin) %>
                  <% end %>
                </li>
              </ul>
          <% end %>
        </li>
        <li><a><i class="fa fa-bell"></i></a></li>
        <li class="my-cart">
          <a href="javascript:void(0);">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <% if line_items_count.present? && line_items_count > 0 %>
                <span class='cart-item-count'> <%= current_cart.total_cart_item %> </span>
            <% end %>
          </a>
          <%= render 'shared/my_cart_items' %>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container clearfix public_bg_image">
  <div class="menu-2">
    <%= form_tag products_path, :method => :get, id: "nav-search-form" do %>
        <ul class="clearfix">
          <li>
            <%= link_to image_tag('logo.png', class: 'search-logo'), root_path %>
          </li>
          <li class="search-wrapper">
            <%= text_field_tag :search, params[:search], id: 'gh-ac', placeholder: t(:search_text) %>
          </li>
          <li>
            <div id="gh-cat-box">
              <%= select_tag :category, options_for_select(Product::PRODUCT_TYPES.collect { |key, val| [t(val.to_s), key] }, params[:category]), {id: 'gh-cat'} %>
            </div>
          </li>
          <li class="">
            <input id="gh-btn" class="btn-prim pull-right" type="submit" value="<%= t(:search_text) %>">
          </li>
        </ul>
    <% end %>
  </div>
</div>

<div class="container public_bg_image">
  <div class="menu-3">
    <!--<hr class="hr-line">-->
    <ul class="clearfix common-ul-style" id="site-menu-last"> <!-- Working to Create Dropdown Menu -->

      <li>
        <%= link_to t(:home), root_path %>
      </li>

      <li class="custom-dropdown">
        <%= link_to t(:products), products_path %>
        <ul class="custom-dropdown-content common-ul-style">
          <div class="custom-dropdown-content-leftsidebar">
            <div class="custom-dropdown-content-leftsidebar-container">
              <div class="hover-submenu-wrap clearfix">

                <div class="hover-submenu-1 clearfix">
                  <ul class="common-ul-style">
                    <li>
                      <b> Top Categories </b>
                    </li>

                    <li>
                      <%= link_to products_path do %>
                          <i class="fa fa-male top-categories-icon-style"></i>
                          Men's
                      <% end %>

                    </li>

                    <li>
                      <%= link_to products_path do %>
                          <i class="fa fa-female top-categories-icon-style"></i>
                          Women's
                      <% end %>

                    </li>

                    <li>
                      <%= link_to products_path do %>
                          <i class="fa fa-child top-categories-icon-style"></i>
                          Kids
                      <% end %>

                    </li>
                  </ul>
                </div>
                <div class="hover-submenu-2 clearfix">
                  <ul class="common-ul-style">
                    <li>
                      <b>
                        Shop for
                      </b>
                    </li>

                    <li>
                      <%= link_to "Jewelry & Watches", products_path %>

                    </li>

                    <li>
                      <%= link_to "Handbags & Accessories", products_path %>

                    </li>

                    <li>
                      <%= link_to "Health & Beauty", products_path %>

                    </li>

                    <li>
                      <%= link_to "Shoes", products_path %>

                    </li>
                  </ul>
                </div>

              </div>
            </div>

          </div>
          <div class="custom-dropdown-content-rightsidebar nav-product-category-image"></div>

        </ul>
      </li>

      <li class="custom-dropdown">
        <%= link_to t(:services), services_path %>
        <ul class="custom-dropdown-content common-ul-style">
          <div class="custom-dropdown-content-leftsidebar">
            <div class="custom-dropdown-content-leftsidebar-container">
              <div class="hover-submenu-wrap clearfix">

                <div class="hover-submenu-1 clearfix">
                  <ul class="common-ul-style">
                    <li>
                      <b>
                        Top Categories
                      </b>
                    </li>

                    <li>
                      <%= link_to services_path do %>
                          <i class="fa fa-mobile top-categories-icon-style"></i>
                          AC Service
                      <% end %>

                    </li>

                    <li>
                      <%= link_to services_path do %>
                          <i class="fa fa-home top-categories-icon-style"></i>
                          House Moving
                      <% end %>

                    </li>

                    <li>
                      <%= link_to services_path do %>
                          <i class="fa fa-desktop top-categories-icon-style"></i>
                          Electronic
                      <% end %>

                    </li>
                  </ul>
                </div>
                <div class="hover-submenu-2 clearfix">
                  <ul class="common-ul-style">
                    <li>
                      <b>
                        Other Services
                      </b>
                    </li>

                    <li>
                      <%= link_to "TV & Mobile", services_path %>

                    </li>

                    <li>
                      <%= link_to "Laptop & Accessories", services_path %>

                    </li>

                    <li>
                      <%= link_to "Computer & Internet", services_path %>

                    </li>

                    <li>
                      <%= link_to "Loan", services_path %>

                    </li>
                  </ul>
                </div>

              </div>
            </div>

          </div>
          <div class="custom-dropdown-content-rightsidebar nav-service-category-image"></div>

        </ul>
      </li>

      <li class="custom-dropdown">
        <%= link_to t(:ticket_and_travels), travels_path %>
        <ul class="custom-dropdown-content common-ul-style">
          <div class="custom-dropdown-content-leftsidebar">
            <div class="custom-dropdown-content-leftsidebar-container">
              <div class="hover-submenu-wrap clearfix">

                <div class="hover-submenu-1 clearfix">
                  <ul class="common-ul-style">
                    <li>
                      <b>
                        Top Categories
                      </b>
                    </li>

                    <li>
                      <%= link_to travels_path do %>
                          <i class="fa fa-building top-categories-icon-style"></i>
                          Asia Tour
                      <% end %>

                    </li>

                    <li>
                      <%= link_to travels_path do %>
                          <i class="fa fa-plane top-categories-icon-style"></i>
                          Summer Tour
                      <% end %>

                    </li>

                    <li>
                      <%= link_to travels_path do %>
                          <i class="fa fa-cab top-categories-icon-style"></i>
                          Inter Country Tour
                      <% end %>

                    </li>
                  </ul>
                </div>
                <div class="hover-submenu-2 clearfix">
                  <ul class="common-ul-style">
                    <li>
                      <b>
                        Other Category
                      </b>
                    </li>

                    <li>
                      <%= link_to 'Bandarban Tour', travels_path %>

                    </li>

                    <li>
                      <%= link_to "Rangamati Tour", travels_path %>

                    </li>

                    <li>
                      <%= link_to "Coxbazar Tickets", travels_path %>

                    </li>

                    <li>
                      <%= link_to "Air Tickets", travels_path %>

                    </li>
                  </ul>
                </div>

              </div>
            </div>

          </div>
          <div class="custom-dropdown-content-rightsidebar nav-ticket-category-image"></div>

        </ul>
      </li>

      <li>
        <%= link_to t(:about_us), about_path %>
      </li>


    </ul>

  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.custom-dropdown').hover(function () {
            var customDropdown = $(this).children('.custom-dropdown-content').css("display", "block");
            customDropdown.parent().addClass('custom-show');

        }, function () {
            var customDropdown = $(this).children('.custom-dropdown-content').css("display", "none");
            customDropdown.parent().removeClass('custom-show');
        });

        $("#gh-cat").change(function() {
            var action = $(this).val() == "product" ? "<%= products_path %>" : "<%= services_path %>";
            $("#nav-search-form").attr("action", action);
        });
    });

</script>