<div>
  <div class="order-details clearfix">
    <div class="col-lg-4"><%= t(:order_at) %>: <%= format_number(order.created_at.strftime("%d %B, %Y %H:%M")) %></div>
    <div class="col-lg-4"><%= t(:order_by) %>: <%= order.user.present? ? order.user.name : order.email %></div>
    <div class="col-lg-4">
      <%#= link_to 'Details', details_order_path(order.id), :remote => true, :class => 'btn btn-default' %>
    </div>
  </div>
</div>
<table class="table order-table">
  <thead class="order-title">
  <tr>
    <th> <%= t(:item) %></th>
    <th></th>
    <th> <%= t(:quantity) %></th>
    <th> <%= t(:price) %></th>
    <th> <%= t(:order_id) %></th>
    <th> <%= t(:status) %></th>
  </tr>
  </thead>
  <tbody>
  <% order.line_items.each do |line_item| %>
      <tr>
        <td class="order-item-image">
          <%= image_tag(line_item.product.images.present? ? line_item.product.images.first.img.url(:big) : 'NoPhotoDefault.png') %>
        </td>
        <td>
          <h2> <%= line_item.product.category.name %> </h2>
          <%= link_to line_item.product.name, product_path(line_item.product) %>
        </td>
        <td class="item">
          <%= format_number(line_item.quantity) %>
          x <%= number_with_currency(line_item.product.price) %>
        </td>
        <td class="item price"> <%= number_with_currency(line_item.total_price) %> </td>
        <td class="item"> <%= format_number(line_item.order_id) %> </td>
        <td class="item"> <%= Order::ORDER_STATE.index(line_item.order.status_id) %> </td>
      </tr>
  <% end %>

  </tbody>
</table>