<div class="j-menu-container"></div>

<div class="top-header-bg">
  <div class="container public_bg_image">
    <div class="b-inner-page-header f-inner-page-header">
      <div class="b-inner-page-header__content">
        <h1 class="f-primary-l c-default"><%= t(:order_details) %></h1>
        <div class="f-primary-l f-inner-page-header_title-add c-senary"><%= t(:order_details_sub_title) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="b-breadcrumbs f-breadcrumbs container adjust-breadcrumbs-position">
  <ul>
    <li>
      <i class="fa fa-home"></i>
      <%= link_to t(:home), root_path %>
    </li>
    <li>
      <i class="fa fa-angle-right"></i>
      <%= link_to t(:products), products_path %>
    </li>
    <li>
      <i class="fa fa-angle-right"></i>
      <span><%= t(:order_details) %></span>
    </li>
  </ul>
</div>


<div class="l-main-container">
  <section class="b-infoblock">
    <div class="container public_bg_image">
      <div class="row" style="padding: 16px">
          <div id="order-details" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Order Information</h4>
                </div>
                <div class="modal-body clearfix">

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>
          <% if @orders.present? %>
              <% @orders.each do |order| %>
                  <% if order.line_items.present? %>
                      <%= render 'order_item', :order => order %>
                  <% end %>
              <% end %>
          <% end %>
        <%#= render 'shared/filter', product_type: 'product' %>
      </div>
    </div>
  </section>

</div>

