<div class="j-menu-container"></div>

<div class="top-header-bg">
  <div class="container public_bg_image">
    <div class="b-inner-page-header f-inner-page-header">
      <div class="b-inner-page-header__content">
        <h1 class="f-primary-l c-default"><%= t(:signin) %></h1>
        <div class="f-primary-l f-inner-page-header_title-add c-senary"><%= t(:no_subscription) + ' '%> <%= link_to t(:req_subscription), new_user_registration_path(user_type: 'subscriber') %>
        </div>
      </div>
    </div>
    <hr class="hr-line">
  </div>
</div>

<div class="container public_bg_image fix-body-padding-bottom">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="signin-form">
        <div class = "form-group row col-md-12">
          <div class="col-md-3">
            <%= f.label :email ,t(:email) %>
          </div>
          <div class="col-md-9">
            <%= f.email_field :email, autofocus: true ,class: "form-control"%>
          </div>
        </div>

        <div class = "form-group row col-md-12">
          <div class="col-md-3">
            <%= f.label :password, t(:password) %>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
          </div>
          <div class="col-md-9">
            <%= f.password_field :password, autocomplete: "off",class: "form-control" %>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>

            <div class = "form-group row col-md-12">
              <div class="col-md-3">
              </div>
              <div class="col-md-9">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, t(:remember_me) %>
              </div>
            </div>
        <% end -%>
        <div class = "form-group row col-md-12">
          <div class="col-md-3">
          </div>
          <div class="col-md-9">
            <%= f.submit t(:signin), class: 'btn btn-default  pull-right' %>
            <%= render "devise/shared/links" %>
          </div>
        </div>

      </div>
      <div style="clear: both"></div>


  <% end %>
</div>



