<div class="j-menu-container"></div>
<div class="top-header-bg">
  <div class="container public_bg_image">
    <div class="b-inner-page-header f-inner-page-header">
      <div class="b-inner-page-header__content">
        <h1 class="f-primary-l c-default"><%= t(:products) %></h1>

        <div class="f-primary-l f-inner-page-header_title-add c-senary"><%= t(:products_sub_title) %>
        </div>
      </div>
    </div>
    <hr class="hr-line">
  </div>
</div>
<div class="b-breadcrumbs f-breadcrumbs container adjust-breadcrumbs-position">
  <ul>
    <li><i class="fa fa-home"></i><%= link_to t(:home), root_path %></li>
    <li><i class="fa fa-angle-right"></i><%= link_to t(:products), products_path %></li>
    <li><i class="fa fa-angle-right"></i><span><%= t(:detail) %></span></li>
  </ul>
</div>
<div class="l-main-container">
  <section class="b-infoblock">
    <div class="container public_bg_image">
      <div class="row">
        <%= render 'shared/filter', product_type: 'product' %>
        <div class="col-md-9 ">
          <div class="row">
            <div class="b-col-default-indent product_items">
              <% @products.each do |product| %>
                  <%= render 'item', product: product %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<script type="text/javascript">
    $(function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                $.ajax({
                    url: "<%= more_products_path(params: params) %>",
                    type: 'get',
                    dataType: 'script',
                    data: {offset: $('.product_items .single_item').length},
                    error: function () {
                        alert("Something wrong");
                    }
                });
            }
        });
    })
</script>
