<div class="j-menu-container"></div>

<div class="b-inner-page-header f-inner-page-header b-bg-header-inner-page">
  <div class="b-inner-page-header__content">
    <div class="container">
      <h1 class="f-primary-l c-default">Online store</h1>
      <div class="f-primary-l f-inner-page-header_title-add c-senary">This is online store listing products sample page</div>
    </div>
  </div>
</div>
<div class="l-main-container">

  <div class="b-breadcrumbs f-breadcrumbs">
    <div class="container">
      <ul>
        <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
        <li><i class="fa fa-angle-right"></i><a href="#">Shopping</a></li>
        <li><i class="fa fa-angle-right"></i><span> Detail</span></li>
      </ul>
    </div>
  </div>

  <section class="b-infoblock">
    <div class="container">
      <div class="row">
        <div class="col-md-9 ">
          <div class="b-shortcode-example">
            <div class=" f-primary-b b-title-b-hr f-title-b-hr b-null-top-indent"><%= @product.name %></div>
            <div class="b-product-card b-default-top-indent">
              <div class="b-product-card__visual-wrap">
                <div class="flexslider b-product-card__visual flexslider-zoom">
                  <ul class="slides">
                    <% @product.product_images.each do |image| %>
                        <li>
                          <%= link_to image_tag(image.image.url(:big)) , asset_path(image.image.url(:big)), class: 'fancybox', rel: 'product'%>
                          <!--<a class="fancybox" rel="product" href="<%#= image_tag('shop_1.png') %>" <%#= image_tag('shop_1.png') %> </a>-->
                        </li>
                    <% end %>
                  </ul>
                </div>
                <div class="flexslider flexslider-thumbnail b-product-card__visual-thumb carousel-sm">
                  <ul class="slides">

                    <% @product.product_images.each do |image| %>
                        <li>
                          <%= image_tag(image.image.url(:thumb)) %>
                          <!--<a class="fancybox" rel="product" href="<%#= image_tag('shop_1.png') %>" <%#= image_tag('shop_1.png') %> </a>-->
                        </li>
                    <% end %>
                  </ul>
                </div>
              </div>
              <div class="b-product-card__info">
                <h4 class="f-primary-b b-h4-special f-h4-special">information</h4>
                <div class="b-product-card__info_row">
                  <div class="b-product-card__info_title f-primary-b f-title-smallest">Price</div>
                  <span class="f-product-card__info_price c-default f-primary-b">$ <%= @product.price %> </span>
                </div>
                <div class="b-product-card__info_row">
                  <div class="b-product-card__info_title f-primary-b f-title-smallest">Reviews</div>
                  <div class="b-stars-group f-stars-group b-margin-right-standard">
                    <!--<i class="fa fa-star is-active-stars"></i>-->
                    <!--<i class="fa fa-star is-active-stars"></i>-->
                    <!--<i class="fa fa-star is-active-stars"></i>-->
                    <!--<i class="fa fa-star is-active-stars"></i>-->
                    <!--<i class="fa fa-star"></i>-->
                  </div>
                  <span class="f-primary-b c-tertiary f-title-smallest"> <a href="#">(<%= @product.reviews.count %> reviews)</a></span>
                </div>
                <div class="b-product-card__info_row">
                  <div class="b-product-card__info_description f-product-card__info_description">
                   <%= @product.description %>
                  </div>
                </div>
                <div class="b-product-card__info_row">
                  <%= form_for LineItem.new do |f| %>
                      <%= hidden_field_tag(:product_id, @product.id) %>
                      <div class="b-product-card__info_count">
                      <%= f.number_field :quantity, :class => 'form-control form-control--secondary',value: 1, :min => 1 %>
                      </div>
                      <div class="b-product-card__info_add b-margin-right-standard">
                        <%= f.submit :class => 'b-btn f-btn b-btn-sm-md f-btn-sm-md', :value => ' Add to cart' %>
                      </div>
                  <% end %>
                  <div class="b-product-card__info_like  b-btn f-btn b-btn-sm-md f-btn-sm-md b-btn--icon-only">
                    <i class="fa fa-heart"></i>
                  </div>

                  <div class="b-product-card__info_like popup_link  b-btn f-btn b-btn-sm-md f-btn-sm-md b-btn--icon-only">
                    <i class="fa fa-star-o"></i>
                  </div>
                </div>
                <div class="b-product-card__info_row">
                  <div class="b-product-card__info_code">
                    <input type="text" class="form-control form-control--secondary" placeholder="Enter your coupon code">
                  </div>
                  <div class="b-product-card__info_submit  b-btn f-btn b-btn-sm-md f-btn-sm-md b-btn--icon-only">
                    <i class="fa fa-arrow-right"></i>
                  </div>
                </div>
                <div class="b-product-card__info_row">
                  <div class="b-product-card__info_title f-primary-b f-title-smallest">Categories</div>
                  <a class="f-more f-title-smallest" href="<%= products_path(category_id: @product.category_id) %>"><%= @product.category.name %></a>
                </div>
                <div class="b-product-card__info_row">
                  <div class="b-product-card__info_title f-primary-b f-title-smallest">Tags</div>
                  <div class="b-tag-container">
                    <% @product.tags.each do |tag| %>
                        <a class="f-tag b-tag" href="#"><%= tag.name %></a>
                    <%end%>
                  </div>
                </div>
                <div class="b-product-card__info_row">
                  <div class="b-btn-group-hor f-btn-group-hor">
                    <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
                      <i class="fa fa-dribbble"></i>
                    </a>
                    <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
                      <i class="fa fa-behance"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="clearfix"></div>



          <div class="b-shortcode-example">
            <div class="b-tabs f-tabs j-tabs b-tabs-reset">
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Description</a></li>
                <li><a data-toggle="tab" href="#menu1">Previews</a></li>
              </ul>

              <div class="tab-content b-tabs__content">
                <div id="home" class="tab-pane fade in active">
                  <h4 class="f-tabs-vertical__title f-primary-b">Product description</h4>
                  <p>Maecenas laoreet commodo arcu, eu semper lacus tincidunt eget. Vestibulum at arcu pulvinar, fermentum sapien nec, tristique dui. Ut feugiat est at sapien ullamcorper viverra. Vestibulum pretium malesuada elit rutrum condimentum. Donec bibendum scelerisque odio vulputate viverra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames acipsum. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. .</p>
                  <a href="#" class="f-more f-primary-b f-title-smallest">Read more...</a>
                </div>
                <div id="menu1" class="tab-pane fade">
                  <h4 class="f-tabs-vertical__title f-primary-b">Suspendisse vitae metus enim 2</h4>
                  <p>Maecenas laoreet commodo arcu, eu semper lacus tincidunt eget. Vestibulum at arcu pulvinar, fermentum sapien nec, tristique dui. Ut feugiat est at sapien ullamcorper viverra. Vestibulum pretium malesuada elit rutrum condimentum. Donec bibendum scelerisque odio vulputate viverra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames acipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod purus eu sapien faucibus, quis porta ipsum accumsan.</p>
                  <a href="#" class="f-more f-primary-b f-title-smallest">Read more...</a>
                </div>
              </div>
            </div>
          </div>

          <div>
            <h4 class="f-primary-b b-h4-special f-h4-special">product related</h4>
            <div class="row">
              <div class="b-col-default-indent">
                <div class="col-md-4 col-sm-4 col-xs-6 col-mini-12">
                  <div class="b-product-preview">
                    <div class="b-product-preview__img view view-sixth">
                      <img data-retina src="img/shop/shop_1.png" alt=""/>
                      <div class="b-item-hover-action f-center mask">
                        <div class="b-item-hover-action__inner">
                          <div class="b-item-hover-action__inner-btn_group">
                            <a href="#" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-heart"></i></a>
                            <a href="#" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-shopping-cart"></i></a>
                            <a href="shop_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="b-product-preview__content">
                      <div class="b-product-preview__content_col">
                        <span class="b-product-preview__content_price f-product-preview__content_price f-primary-b">35$</span>
                      </div>
                      <div class="b-product-preview__content_col">
                        <a href="shop_detail.html" class="f-product-preview__content_title">Skater Dress In Leaf</a>
                        <div class="f-product-preview__content_category f-primary-b"><a href="#">Women</a> / <a href="#">Clothe</a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6 col-mini-12">
                  <div class="b-product-preview">
                    <div class="b-product-preview__img view view-sixth">
                      <img data-retina src="img/shop/shop_2.png" alt=""/>
                      <div class="b-item-hover-action f-center mask">
                        <div class="b-item-hover-action__inner">
                          <div class="b-item-hover-action__inner-btn_group">
                            <a href="#" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-heart"></i></a>
                            <a href="#" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-shopping-cart"></i></a>
                            <a href="shop_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="b-product-preview__content">
                      <div class="b-product-preview__content_col">
                        <span class="b-product-preview__content_price f-product-preview__content_price f-primary-b">35$</span>
                      </div>
                      <div class="b-product-preview__content_col">
                        <a href="shop_detail.html" class="f-product-preview__content_title">Skater Dress In Leaf</a>
                        <div class="f-product-preview__content_category f-primary-b"><a href="#">Women</a> / <a href="#">Clothe</a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix visible-xs-block"></div>
                <div class="col-md-4 col-sm-4 col-xs-6 col-mini-12">
                  <div class="b-product-preview">
                    <div class="b-product-preview__img view view-sixth">
                      <img data-retina src="img/shop/shop_3.png" alt=""/>
                      <div class="b-item-hover-action f-center mask">
                        <div class="b-item-hover-action__inner">
                          <div class="b-item-hover-action__inner-btn_group">
                            <a href="#" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-heart"></i></a>
                            <a href="#" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-shopping-cart"></i></a>
                            <a href="shop_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="b-product-preview__content">
                      <div class="b-product-preview__content_col">
                        <span class="b-product-preview__content_price f-product-preview__content_price f-primary-b">35$</span>
                      </div>
                      <div class="b-product-preview__content_col">
                        <a href="shop_detail.html" class="f-product-preview__content_title">Skater Dress In Leaf</a>
                        <div class="f-product-preview__content_category f-primary-b"><a href="#">Women</a> / <a href="#">Clothe</a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix hidden-xs"></div>
              </div>
            </div>
          </div>

        </div>
        <%= render 'shared/filter' %>
      </div>
    </div>
  </section>

</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Review The product</h4>
      </div>
      <div class="modal-body" style="text-align: center">
        <%= form_tag review_product_products_path, method: 'get', remote: true do %>
            <div class="modal-body">
              <div class="form-group">
                <label class="skill-label pull-left">Speaking Level </label>
                <div class="raty-level-input5" data-name="rating"></div>
                <%= hidden_field_tag :product_id, '', class: 'form-control', value: @product.id %>
              </div>
              <div class="form-group">
                <%= label_tag :comment %>
                <%= text_area_tag :comment, '', class: 'form-control' %>
              </div>
            </div>
            <div class="modal-footer">
              <%= submit_tag 'Change Status', class: 'btn btn-success' %>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    $(window).load(function() {
        // The slider being synced must be initialized first
        $('.carousel-sm').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            slideshow: true,
            itemWidth: 78,
            itemMargin: 5,
            asNavFor: '.flexslider'
        });

        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            slideshow: true,
            sync: ".carousel-sm"
        });
    });
    $(document).ready(function () {
        $('.b-slider-range').slider({
            change: function(event, ui) {
//                alert(ui.values[0]);
//                alert(ui.values[1]);
//                $('input#project_min_v').val(ui.values[0]);
//                $('input#project_max_v').val(ui.value[1]);
            }

        });

        $('.raty-level-input5').raty({
            scoreName: function() { return $(this).attr('data-name'); },
            starHalf: '<%= asset_path('star-half.png') %>',
            starOff: '<%= asset_path('star-off.png') %>',
            starOn: '<%= asset_path('star-on.png') %>',
            number: 5
        });

        $('.b-stars-group').raty({
            scoreName: function() { return $(this).attr('data-name'); },
            starHalf: '<%= asset_path('star-half.png') %>',
            starOff: '<%= asset_path('star-off.png') %>',
            starOn: '<%= asset_path('star-on.png') %>',
            number: 5
        });
        $(".popup_link").click(function (e) {
//            var src = $(this).attr('id');
//            $('.modal-body').html('<img id="iamge" src=' + src + ' />')
            $('#myModal').modal('show');
        });
    });
</script>