<!DOCTYPE html>
<html>
<head>
  <title>Esales</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="container b-header__box b-relative">
    <a href="http://www.sungeetheme.com/" class="b-left b-logo "><%= image_tag('logo-header-default.png', class: 'color-theme') %></a>

    <div class="b-header-r b-right b-header-r--icon">
      <div class="b-header-ico-group f-header-ico-group b-right">
          <span class="b-search-box">
              <i class="fa fa-search"></i>
              <input type="text" placeholder="Enter your keywords"/>
          </span>
          <span class="b-header-ico b-header-ico-cart-parent">
              <a href="#" class="b-fa-shopping-cart"><i class="fa fa-shopping-cart"></i></a>
              <div class="b-option-cart__items">
                <div class="b-option-cart__items__title f-option-cart__items__title f-default-l">Recently added
                  item(s)
                </div>
                <ul>
                  <li>
                    <div class="b-option-cart__items__img">
                      <div class="view view-sixth">
                        <%= image_tag('cart_mini_pic.jpg') %>
                        <!--<img data-retina="" src="cart_mini_pic.jpg" alt="">-->
                        <div class="b-item-hover-action f-center mask">
                          <div class="b-item-hover-action__inner">
                            <div class="b-item-hover-action__inner-btn_group">
                              <a href="#" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="b-option-cart__items__descr">
                      <strong class="b-option-cart__descr__title f-option-cart__descr__title"><a href="#">Product
                        Example</a></strong>
                      <span class="b-option-cart__descr__cost f-option-cart__descr__cost">1 x $239</span>
                    </div>
                    <i class="fa fa-times b-icon--fa"></i>
                  </li>
                  <li>
                    <div class="b-option-cart__items__img">
                      <div class="view view-sixth">
                        <%= image_tag('cart_mini_pic.jpg') %>
                        <!--<img data-retina="" src="cart_mini_pic.jpg" alt="">-->
                        <div class="b-item-hover-action f-center mask">
                          <div class="b-item-hover-action__inner">
                            <div class="b-item-hover-action__inner-btn_group">
                              <a href="#" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="b-option-cart__items__descr">
                      <strong class="b-option-cart__descr__title f-option-cart__descr__title"><a href="#">Product
                        Example</a></strong>
                      <span class="b-option-cart__descr__cost f-option-cart__descr__cost">1 x $239</span>
                    </div>
                    <i class="fa fa-times b-icon--fa"></i>
                  </li>
                </ul>
                <div class="b-option-cart__btn">
                  <button class="button-xs button-gray-light">Cancel</button>
                  <button class="button-xs">Check out</button>
                </div>
              </div>
          </span>
      </div>
      <div class="b-top-nav-show-slide f-top-nav-show-slide b-right j-top-nav-show-slide">
        <i class="fa fa-align-justify"></i></div>
      <nav class="b-top-nav f-top-nav b-right j-top-nav">
        <ul class="b-top-nav__1level_wrap">
          <li class="b-top-nav__1level f-top-nav__1level is-active-top-nav__1level f-primary-b">
            <a href="homepage-1-index.html"><i class="fa fa-home b-menu-1level-ico"></i>Home
              <span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
          </li>
          <li class="b-top-nav__1level f-top-nav__1level f-primary-b">
            <a href="#"><i class="fa fa-folder-open b-menu-1level-ico"></i>Contact
              us<span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
          </li>
          <% if current_user.present? %>
              <li class="b-top-nav__1level f-top-nav__1level f-primary-b">
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
              </li>
          <% else %>
              <li class="b-top-nav__1level f-top-nav__1level f-primary-b">
                <a href="<%= new_user_session_path %>"><i class="fa fa-list b-menu-1level-ico"></i>Signin
                  <span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
              </li>
              <li class="b-top-nav__1level f-top-nav__1level f-primary-b b-top-nav-big">
                <a href="<%= new_user_registration_path(user_type: 'regular') %>"><i class="fa fa-folder-open b-menu-1level-ico"></i>Signup<span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
              </li>

              <li class="b-top-nav__1level f-top-nav__1level f-primary-b b-top-nav-big">
                <a href="<%= new_user_registration_path(user_type: 'subscriber') %>"><i class="fa fa-folder-open b-menu-1level-ico"></i>Request
                  For Subscription<span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
              </li>
          <% end %>
        </ul>

      </nav>
    </div>
  </div>
</header>
<%= yield %>
<footer>
  <div class="b-footer-primary">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-xs-12 f-copyright b-copyright">Copyright © 2014 - All Rights Reserved</div>
        <div class="col-sm-8 col-xs-12">
          <div class="b-btn f-btn b-btn-default b-right b-footer__btn_up f-footer__btn_up j-footer__btn_up">
            <i class="fa fa-chevron-up"></i>
          </div>
          <nav class="b-bottom-nav f-bottom-nav b-right hidden-xs">
            <ul>
              <li><a href="homepage-1-index.html">Homepage</a></li>
              <li class="is-active-bottom-nav"><a href="page_header_1.html">Headers</a></li>
              <li><a href="portfolio_our_portfolio_1_colums.html">Portfolio</a></li>
              <li><a href="our_blog_1_columns.html">Blog</a></li>
              <li><a href="page_search_result.html">Pages</a></li>
              <li><a href="shortcode_typography.html">Shortcode</a></li>
              <li><a href="shop_listing_col.html">Shop</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="b-footer-secondary row">
      <div class="col-md-3 col-sm-12 col-xs-12 f-center b-footer-logo-containter">
        <a href="#"><%= image_tag('logo-vertical-default.jpg', class: 'b-footer-logo color-theme') %></a>
        <!--<a href="#"><img data-retina class="b-footer-logo color-theme" src="logo-vertical-default.jpg" alt="Logo"/></a>-->
        <div class="b-footer-logo-text f-footer-logo-text">
          <p>Mauris rhoncus pretium porttitor. Cras scelerisque commodo odio.</p>

          <div class="b-btn-group-hor f-btn-group-hor">
            <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
              <i class="fa fa-dribbble"></i>
            </a>
            <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
              <i class="fa fa-behance"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <h4 class="f-primary-b f-legacy-h4">Latest blog posts</h4>

        <div class="b-blog-short-post row">
          <div class="b-blog-short-post__item col-md-12 col-sm-4 col-xs-12 f-primary-b">
            <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
              <a href="blog_detail_left_slidebar.html">Amazing post with all the goodies</a>
            </div>
            <div class="b-blog-short-post__item_date f-blog-short-post__item_date">
              March 23, 2013
            </div>
          </div>
          <div class="b-blog-short-post__item col-md-12 col-sm-4 col-xs-12 f-primary-b">
            <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
              <a href="blog_detail_left_slidebar.html">Amazing post with all the goodies</a>
            </div>
            <div class="b-blog-short-post__item_date f-blog-short-post__item_date">
              March 23, 2013
            </div>
          </div>
          <div class="b-blog-short-post__item col-md-12 col-sm-4 col-xs-12 f-primary-b">
            <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
              <a href="blog_detail_left_slidebar.html">Amazing post with all the goodies</a>
            </div>
            <div class="b-blog-short-post__item_date f-blog-short-post__item_date">
              March 23, 2013
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <h4 class="f-primary-b f-legacy-h4">contact info</h4>

        <div class="b-contacts-short-item-group">
          <div class="b-contacts-short-item col-md-12 col-sm-4 col-xs-12">
            <div class="b-contacts-short-item__icon f-contacts-short-item__icon f-contacts-short-item__icon_lg b-left">
              <i class="fa fa-map-marker"></i>
            </div>
            <div class="b-remaining f-contacts-short-item__text">
              Frexy Studio<br/>
              1234 Street Name, City Name,<br/>
              United States.<br/>
            </div>
          </div>
          <div class="b-contacts-short-item col-md-12 col-sm-4 col-xs-12">
            <div class="b-contacts-short-item__icon f-contacts-short-item__icon b-left f-contacts-short-item__icon_md">
              <i class="fa fa-skype"></i>
            </div>
            <div class="b-remaining f-contacts-short-item__text f-contacts-short-item__text_phone">
              Skype: ask.company
            </div>
          </div>
          <div class="b-contacts-short-item col-md-12 col-sm-4 col-xs-12">
            <div class="b-contacts-short-item__icon f-contacts-short-item__icon b-left f-contacts-short-item__icon_xs">
              <i class="fa fa-envelope"></i>
            </div>
            <div class="b-remaining f-contacts-short-item__text f-contacts-short-item__text_email">
              <a href="mailto:frexystudio@gmail.com">mail@example.com</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 ">
        <h4 class="f-primary-b f-legacy-h4">photo stream</h4>

        <div class="b-short-photo-items-group">
          <div class="b-column">
            <a class="b-short-photo-item fancybox" href="gallery/big/gallery_1.jpg" title="photo stream" rel="footer-group"><%= image_tag('gallery_1.jpg', width: 62, height: 62) %></a>
          </div>
          <div class="b-column">
            <a class="b-short-photo-item fancybox" href="gallery/big/gallery_2.jpg" title="photo stream" rel="footer-group"><%= image_tag('gallery_2.jpg', width: 62, height: 62) %></a>
          </div>
          <div class="b-column">
            <a class="b-short-photo-item fancybox" href="gallery/big/gallery_3.jpg" title="photo stream" rel="footer-group"><%= image_tag('gallery_3.jpg', width: 62, height: 62) %></a>
          </div>
          <div class="b-column">
            <a class="b-short-photo-item fancybox" href="gallery/big/gallery_4.jpg" title="photo stream" rel="footer-group"><%= image_tag('gallery_4.jpg', width: 62, height: 62) %></a>
          </div>
          <div class="b-column">
            <a class="b-short-photo-item fancybox" href="gallery/big/gallery_5.jpg" title="photo stream" rel="footer-group"><%= image_tag('gallery_5.jpg', width: 62, height: 62) %></a>
          </div>
          <div class="b-column">
            <a class="b-short-photo-item fancybox" href="gallery/big/gallery_6.jpg" title="photo stream" rel="footer-group"><%= image_tag('gallery_6.jpg', width: 62, height: 62) %></a>
          </div>
          <div class="b-column">
            <a class="b-short-photo-item fancybox" href="gallery/big/gallery_7.jpg" title="photo stream" rel="footer-group"><%= image_tag('gallery_7.jpg', width: 62, height: 62) %></a>
          </div>
          <div class="b-column">
            <a class="b-short-photo-item fancybox" href="gallery/big/gallery_8.jpg" title="photo stream" rel="footer-group"><%= image_tag('gallery_8.jpg', width: 62, height: 62) %></a>
          </div>
          <div class="b-column hidden-xs">
            <a class="b-short-photo-item fancybox" href="gallery/big/gallery_9.jpg" title="photo stream" rel="footer-group"><%= image_tag('gallery_9.jpg', width: 62, height: 62) %></a>
          </div>
          <div class="b-column hidden-sm hidden-xs">
            <a class="b-short-photo-item fancybox" href="gallery/big/gallery_10.jpg" title="photo stream" rel="footer-group"><%= image_tag('gallery_10.jpg', width: 62, height: 62) %></a>
          </div>
          <div class="b-column hidden-sm hidden-xs">
            <a class="b-short-photo-item fancybox" href="gallery/big/gallery_11.jpg" title="photo stream" rel="footer-group"><%= image_tag('gallery_11.jpg', width: 62, height: 62) %></a>
          </div>
          <div class="b-column hidden-sm hidden-xs">
            <a class="b-short-photo-item fancybox" href="gallery/big/gallery_12.jpg" title="photo stream" rel="footer-group"><%= image_tag('gallery_12.jpg', width: 62, height: 62) %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
