<!DOCTYPE html>
<html>
<head>
  <title>Esales</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body style="background: url(<%= asset_path 'body.png' %>);">
<%= render 'shared/nav' %>
<%= render 'shared/flash_message' %>
<%= yield %>
<%= render 'shared/footer' %>
</body>
</html>

<script type="text/javascript">
    //   $(document).ready(function() {
    //
    //        $(".b-top-nav__1level_wrap li").click(function ( e ) {
    //            alert($(this).text());
    ////            e.preventDefault();
    //           $(".b-top-nav__1level_wrap li").removeClass("is-active-top-nav__1level"); //Remove any "active" class
    //           $(this).addClass("is-active-top-nav__1level");
    //       });
    //    });
</script>
