<!DOCTYPE html>
<html>
<head>
  <title>Esales</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="public_bg_image">

<div class="top-header-bg">
  <%= render 'shared/nav' %>
  <div class="container public_bg_image">
    <div class="row">
      <div class="col-sm-8">
        <div class="landing-slider">
          <!--<ul>-->
          <% slider_images.each do |slider| %>
              <div class="slider-item">
                <div class="slider-text-section">
                  <h2 class="top-header"><%= slider.header %></h2>

                  <h2 class="top-title"><%= slider.header_bold %></h2>

                  <div class="description">
                    <%= slider.header_small %>
                  </div>
                  <%# if slider.link.present? %>
                  <div style="margin-top: 20px;">
                    <a style="background: #ffffff; padding: 3px 5px; font-weight: bold; font-size: 14px; color:#E26228" href="<%#= slider.link %>">more
                      <span><i class="fa fa-chevron-right"></i></span>
                    </a>
                  </div>
                  <%# end %>
                </div>


                <div class="slider-image">
                  <%= image_tag(slider.image_url) %>
                </div>
                <% if slider.off.present? and slider.off > 0 %>
                    <div class="price-off-wrapper">
                      <%= image_tag('slider_shop_1-2.png') %>
                      <div class="product-off">
                        <%= slider.off.to_i %>%
                      </div>
                    </div>
                <% end %>
              </div>
          <% end %>
          <!--</ul>-->
        </div>
      </div>
      <div class="col-sm-4">
        <div class="right-content-first">
          <%= render "login_form" %>
        </div>
        <div class="right-content-second">
          <%= link_to new_user_registration_path do %>
              <%= image_tag('join_now.png') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="container public_bg_image">
    <div class="f-breadcrumbs how-it-work-wrapper">
      <a href="/how-it-works" class="how-it-work-link">
        <%= image_tag('how_it_works.png') %>
      </a>
    </div>
  </div>
</div>
<%= yield %>
<%= render 'shared/footer' %>
<script type="text/javascript">
    $(function () {
        $('.landing-slider').textSlider()
    });
</script>
</body>
</html>