<table class="table order-table">
  <thead class="order-title">
  <tr>
    <th> <%= t(:item) %></th>
    <th></th>
    <th> <%= t(:price) %></th>
    <th> <%= t(:discount) %> </th>
    <th> <%= t(:my_earning) %> </th>
    <th> <%= t(:order_id) %></th>
  </tr>
  </thead>
  <tbody>
  <% @earnings.each do |earn| %>
      <tr>
        <td class="order-item-image">
          <%= image_tag(earn.product.product_images.first.image.url(:thumb)) %>
        </td>
        <td>
          <h2> <%= earn.product.category.name %> </h2>
          <%= link_to earn.product.name, product_path(earn.product) %>
        </td>
        <td class="item"> <%= format_number(number_to_currency(earn.price)) %> </td>
        <td class="item"> <%= format_number(earn.discount) %>%</td>
        <td class="item"> <%= format_number(earn.earning) %></td>
        <td class="item"> <%= format_number(earn.order_id) %> </td>
      </tr>
  <% end %>
  </tbody>
  <tbody>
  <tr>
    <td colspan="4"></td>
    <td class="item"> <%= format_number(@earnings.sum(:earning)) %> </td>
  </tr>
  </tbody>
</table>