<div class="col-lg-12 order-details">
  <div class="col-lg-4"><%= t(:last_transaction) %>
    : <span class="available_price"> <%= format_number(@last_transaction_amount) %></span>
  </div>
  <div class="col-lg-4 "><%= t(:available_money) %>:
    <span class="available_price"><%= format_number(SubscriberTransaction.available_money(current_user.id)) %></span>
  </div>
  <div class="col-lg-4">
    <% if SubscriberTransaction.available_money(current_user.id) > 0 %>
        <button type="button" class="btn btn-default" data-backdrop="false" data-toggle="modal" data-target="#myModal"><%= t(:withdraw_money) %></button>
    <% end %>
  </div>
</div>
<% if @transactions.present? %>
    <table class="table order-table">
      <thead class="order-title">
      <tr>
        <th> <%= t(:chanel) %></th>
        <th><%= t(:amount) %></th>
        <th> <%= t(:mobile) %></th>
        <th> <%= t(:bank_account) %></th>
        <th><%= t(:bank_address) %></th>
        <th> <%= t(:status) %></th>
      </tr>
      </thead>
      <tbody>
      <% @transactions.each do |tr| %>
          <tr>
            <td><%= tr.chanel %></td>
            <td><%= number_with_currency(tr.amount) %></td>
            <td><%= format_number(tr.mobile) %></td>
            <td><%= format_number(tr.bank) %></td>
            <td><%= tr.address %></td>
            <td class="item"><%= session[:locale] == 'bn'?  SubscriberTransaction::TRANSACTION_STATE_BN.index(tr.status) : SubscriberTransaction::TRANSACTION_STATE.index(tr.status) %> </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>


<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> <%= t(:new_transaction) %></h4>
      </div>
      <div class="modal-body clearfix">
        <div class="col-lg-12">
          <%= form_for @transaction do |f| %>
              <div class="form-inputs form-group">
                <div class="form-group float">
                  <div class="form-group">
                    <%= f.label :chanel, t(:chanel) %> <br/>
                    <%= f.select :chanel, options_for_select(SubscriberTransaction::CHANEL.collect { |key, value| [value, value] }), {}, {class: 'form-control'} %>
                  </div>
                </div>

                <div class="form-group float">
                  <div class="form-group">
                    <%= f.label :amount, t(:amount) %> <br/>
                    <%= f.text_field :amount, class: 'form-control' %>
                  </div>
                </div>

                <div class="form-group float bkash-transaction-field">
                  <div class="form-group">
                    <%= f.label :mobile, t(:mobile) %> <br/>
                    <%= f.text_field :mobile, class: 'form-control' %>
                  </div>
                </div>

                <div class="bank-transaction-field">
                  <div class="form-group float">
                    <div class="form-group">
                      <%= f.label :bank, t(:bank_account) %> <br/>
                      <%= f.text_field :bank, class: 'form-control' %>
                    </div>
                  </div>

                  <div class="form-group float">
                    <div class="form-group">
                      <%= f.label :address, t(:bank_address) %> <br/>
                      <%= f.text_area :address, class: 'form-control' %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group clearfix">
                <div class="col-sm-12">
                  <%= f.submit t(:withdraw_money), class: 'btn btn-info pull-right' %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
    $(function () {
        var element = $('#subscriber_transaction_chanel');
        transactionFields(element.val());
        element.change(function () {
            transactionFields($(this).val());
        });
    });

    var transactionFields = function (chanel) {
        if (chanel == 'Bank') {
            $('.bank-transaction-field').show();
            $('.bkash-transaction-field').hide();
        }
        else {
            $('.bank-transaction-field').hide();
            $('.bkash-transaction-field').show();
        }
    }

</script>